.color-example {
    color: red;
    background-color: #00FF00;
    border: 5px solid red;
}

.header-example {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}

.list-example {
    list-style-type: square;
    color: blue;
}

.text-example {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

.div-example {
    background-color: yellow;
    border: 15px solid purple;
}