body {
    background-color: #e6e6fa;
}

h1 {
    border-bottom: 2px solid;
}

h2 {
    color: red;
    border: 2px solid;
    border-color: black;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    display:inline-block
}

p {
    border-radius: 15px;
    background-color: #aeaed4;
    padding: 10px 10px 10px 10px;
    display:inline-block
}

figure {
    margin: 0px;
}